/*------------------------------------------------------------------
 * This is main css file for print view.
 -------------------------------------------------------------------*/
@media only print {
  header, footer,
  .title_outer,
  .portfolio_print,
  header.page_header {
    display: none !important;
  }
  .container_inner {
    max-width: 80%;
  }
  div[class*='columns'] > div[class^='column'] {
    float: none;
    width: 100%;
  }
  html,
  body,
  .wrapper,
  .wrapper-inner .container,
  .container-inner {
    padding-top: 0 !important;
    margin-top: 0 !important;
    top: 0 !important;
  }
}
/*
     FILE ARCHIVED ON 09:00:34 Mar 10, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:49:06 Sep 17, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 179.654 (3)
  exclusion.robots.policy: 0.207
  RedisCDXSource: 32.694
  PetaboxLoader3.datanode: 188.6 (4)
  PetaboxLoader3.resolve: 54.805
  exclusion.robots: 0.222
  esindex: 0.011
  load_resource: 118.63
  CDXLines.iter: 12.044 (3)
  captures_list: 227.338
*/