@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #0a0a0a;
	}
				.header_bottom,
		nav.mobile_menu{
			background-color: #000000 !important;
		}
			}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
	
	}
@media only screen and (max-width: 600px) {
	
	
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}
/*
     FILE ARCHIVED ON 09:01:11 Mar 10, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:56:00 Nov 06, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 138.345
  exclusion.robots: 0.121
  exclusion.robots.policy: 0.112
  RedisCDXSource: 14.634
  esindex: 0.009
  LoadShardBlock: 101.369 (3)
  PetaboxLoader3.resolve: 94.274 (3)
  PetaboxLoader3.datanode: 50.981 (4)
  CDXLines.iter: 19.533 (3)
  load_resource: 75.331
*/