.bookly-customer-appointment-list {
    overflow: auto;
}

.bookly-customer-appointment-list h2 {
    margin: 20px 0;
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid silver;
}

.bookly-customer-appointment-list .ab-appointments-table {
    border: 1px solid silver;
    border-collapse: collapse;
    table-layout: auto;
}

.bookly-customer-appointment-list .ab-appointments-table th {
    background: #ddd;
    font-size: 14px;
    padding: 5px;
    border: 0;
    white-space: nowrap;
    text-align: center;
}

.bookly-customer-appointment-list table.ab-appointments-table td {
    font-size: 14px;
    padding: 5px !important;
    background: #eee;
    text-align: left !important;
    vertical-align: top !important;
    border: 1px solid silver;
}

.bookly-customer-appointment-list .ab-appointments-table td .ab-btn {
    padding: 5px 10px!important;
    width: auto;
    min-width: 0;
}

.bookly-customer-appointment-list .ab-appointments-table td .ab-btn span {
    font-size: 12px !important;
}

.bookly-customer-appointment-list .ab-btn {
    font-family: inherit;
}

.bookly-customer-appointment-list ul.bookly-extras {
    list-style: disc outside !important;
    margin-bottom: 0 !important;
}
/*
     FILE ARCHIVED ON 08:59:19 Mar 10, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:55:59 Nov 06, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 177.117
  exclusion.robots: 0.114
  exclusion.robots.policy: 0.107
  RedisCDXSource: 0.93
  esindex: 0.007
  LoadShardBlock: 152.419 (3)
  PetaboxLoader3.datanode: 88.352 (4)
  CDXLines.iter: 21.018 (3)
  load_resource: 165.614
  PetaboxLoader3.resolve: 35.741
*/